{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>Tag Detail</h1>
    <div class="mt-4">
      <h3>{{ tag.name }}</h3>
      <p>
        <strong>Tasks:</strong>
        {% for task in tag.tasks.all %}
          <span class="badge badge-info"><a href="{% url 'todo:task-detail' pk=task.id %}">{{ task.content }}</a></span>
        {% endfor %}
      </p>
      <div class="btn-group" role="group" aria-label="Tag Actions">
        <a class="btn btn-info" href="{% url 'todo:tag-update' pk=tag.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'todo:tag-delete' pk=tag.id %}">Delete</a>
      </div>
    </div>
  </div>
{% endblock %}
